.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.users-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    width: 45%;
}

.user_details-container {
    width: 45%;
}