.posts-ofCurrentUser{
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: auto;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
}
