.layout-header {
    min-height: 60px;
}

.outlet {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.layout-footer, .layout-footer_dark-mode {
    min-height: 30px;
    color: #ffffff;
    display: flex;
    justify-content: right;
    box-shadow: 0 1px 5px black;
    background-color: #39445a;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    text-decoration: none;
    transition: 0.5s;
    transition-property: background, box-shadow;
    cursor: pointer;
}

.layout-footer_dark-mode {
    background-color: #212121;
}

.layout-footer:hover {
    box-shadow: 0 0 30px #2E94E3;
}

.layout-footer_dark-mode:hover {
    box-shadow: 0 0 30px #64dd17;
}