.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movies-container-custom_pagination{
    margin-bottom: 20px;
}

.movies-genres-list{
    margin-top: 10px;
}