.simpson-box {
    border: 1px solid black;
    margin: 5px;
}

.simpson-box > div {
    font-size: 10px;
    margin: 5px;
    border: 1px solid black;
    text-align: initial;
}

img {
    width: 200px;
    height: 200px;
}