* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.users-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    width: 45%;
}

.user_details-container {
    width: 45%;
}

.user_details-box > div > div {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.address-block {
    border: 1px solid black;
    margin: 1px;
}

.company-block {
    border: 1px solid black;
    margin: 1px;
}

.geo-block {
    border: 1px solid black;
    margin: 1px;
}

.post-box {
    width: 200px;
    height: 150px;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    font-size: 10px;
    text-align: justify;
}

.post-box > div {
    margin: 5px;
}

.user-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
    width: 45%;
}

.user-box > div {
    font-size: 10px;
    width: 100%;
    margin: 5px;
}

.user-box > button, .details_button {
    margin: 5px;
    border: 1px solid lightskyblue;
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    background: white;
    font-size: 10px;

}

.details_button{
    width: 435px;
    border-radius: 5px;
    position: center;
}

.user-box > button:hover, .details_button:hover {
    box-shadow: 0 0 0 5px lightgreen;
}