.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #39445a;
    font-family: "Montserrat", sans-serif;
    font-size: 4vw;
    padding-bottom: 5px;
    box-shadow: 0 1px 5px black;
    color: #ffffff;
    z-index: 100;
    text-decoration: none;
    transition: 0.5s;
    transition-property: background, box-shadow;
}
.header:hover{
    box-shadow: 0 0 30px #2E94E3;
    color: #2E94E3;
}
