.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.users-container {
    width: 30%;
    margin: 10px;
}

.content {
    width: 30%;
    margin: 10px;

}

.albums-container {
    width: 30%;
    margin: 10px;

}