body {
    background-color: #39445a;
}

.App {
    background-color: #39445a;
}

.App_dark-mode {
    background-color: #212121;;
}

@media (max-width: 850px),(max-width: 780px),(max-width: 550px),(max-width: 400px) {
    .theme-button {
        font-size: 6vh;
        margin: 0 5px 5px 85%;
    }
}